* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1607706009771-de8808640bcf?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    object-fit: fill;
    background-repeat: repeat;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-size: cover;
    margin: 0;
}

header {
    margin: 2em auto;
    text-align: center;
}

#survey-form {
    background-color: rgba(98, 62, 0, 0.909);
    width: 60vw;
    margin: 0 auto;
    max-width: fit-content;
    margin-bottom: 2em;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

fieldset {
    border: none;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"], input[type="email"], input[type="number"], input[type="url"], textarea, select {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    border-style: solid;
    border-color: rgb(37, 23, 0);
    border-width: 2px;
}

input[type="submit"] {
    display: block;
    background-color: #201d18;
    color: white;
    align-items: center;
    width: 60%;
    border: none;
    margin: 0 auto;
} 

#comments {
    width: 80%;
    height: 10vh;
}

#submit {
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    border-style: groove;
    border: none;
}

#submit:hover {
    background-color: darkgray;
    color: black;
}

